Flask==3.1.1
gunicorn

# NLP & Sentiment Modeling
spacy
nltk
transformers
torch
scikit-learn
better_profanity

# Data Processing & Visualization
pandas
numpy
openpyxl
matplotlib
seaborn
wordcloud
tqdm

# Reddit integration
praw

# force rebuild
